.page {
	padding:5px;
}

.filter-row {
	display:flex;
	padding-top:5px;
}

.filter-icon {
	padding-top:3px;
	font-size: 175% !important;
}

.filter-box {
	flex-grow: 1;
	margin-top:-3px;
	border: 1px solid #ccc;
	border-radius:.28571429rem;
	padding:2px;
}

.filter-label {
	margin-bottom:0px !important;
}

.filter-text {
	padding-left:5px; 
	padding-right:5px;
}

.aggregate-box {
	padding:2px;
}

.aggregate-text {
	padding-left:10px;
	padding-right:10px;
}

.aggregate-end-text {
	padding-right:5px;
}

.aggregate-radio {
	margin-top:3px;
}

.next-article {
	background: white !important;
	border: 1px solid #ccc !important;
}

.arc-parent {
	overflow-x: auto;
	will-change: transform;
}

#arc-timeline {
	will-change: transform;
}

.node {
    stroke: #eeeeee;
	fill: #777777;
    stroke-weight: 1px;
	cursor: pointer;
}

.node:hover {
	stroke: #555555;
	stroke-opacity: 1;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-weight: 1px;
    stroke-opacity: 0.5;
	cursor: pointer;
}

.link:hover {
	stroke: #555555;
	stroke-opacity: 1;
}

.details-text {
	height: calc(100% - 805px);
	overflow-y:scroll;
}