.page {
	padding:5px;
}

.filter-row {
	display:flex;
	padding-top:5px;
}

.filter-icon {
	padding-top:3px;
	font-size: 175% !important;
}

.filter-box {
	flex-grow: 1;
	margin-top:-3px;
	border: 1px solid #ccc;
	border-radius:.28571429rem;
	padding:2px;
}

.filter-label {
	margin-bottom:0px !important;
}

.filter-text {
	padding-left:5px; 
	padding-right:5px;
}

.aggregate-box {
	padding:2px;
}

.aggregate-text {
	padding-left:10px;
	padding-right:10px;
}

.aggregate-end-text {
	padding-right:5px;
}

.aggregate-radio {
	margin-top:3px;
}

.next-article {
	background: white !important;
	border: 1px solid #ccc !important;
	float: right !important;
}

.arc-parent {
	overflow-x: auto;
	will-change: transform;
}

#arc-timeline {
	will-change: transform;
}

.arc-limit {
	padding-top: 10px;
}

.node {
    stroke-weight: 1px;
	/* cursor: pointer; */
}

.link {
    fill: none;
    stroke-opacity: 0.5;
	/* cursor: pointer; */
}

.details-text {
	height: 280px;
	overflow-y:auto;
	width: 100%;
}

.article-header {
	padding-bottom: 10px;
}

.mouse-pointer {
	cursor: pointer;
}

.entities-item {
	border-radius: 3px !important;
	padding-left:5px !important;
}

.entities-type {
	max-height: 75px;
	overflow-y: auto;
	will-change: scroll-position;
}

.popup {
	cursor: pointer;
	text-decoration: underline;
}